.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons  
      = link_to "Edit doc", edit_doc_path(@doc), class: 'button'
      = link_to "Delete doc", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }, class: 'button'