#banner {
	background-image: url(image_path("welcome_banner_image.png"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 600px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			@include bold_font;
			color: black;
			font-size: 3.5rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: rgba(250, 250, 250, 0.5);
		}
	}
}

#callouts {
	width: 100%;
	min-height: 400px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			@include bold_font;
			color: black;
			margin-bottom: 0;
		}
		p {
			color: rgba(250, 250, 250, 0.4);
		}
	}
}

#bottom_cta {
	background-image: url(image_path("callout_background.png"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 600px;
	display: table;
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		@include bold_font;
		color: $white;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: $trolley_grey;
		}
}